<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key><string>local.pocket-airbridge.abt</string>
    <key>CFBundleName</key><string>abt</string>
    <key>CFBundleExecutable</key><string>abt</string>
    <key>CFBundleVersion</key><string>0.3.1</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Connect to your Pocket AirBridge to carry the TCP stream you requested.</string>
</dict>
</plist>
